body, html {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Rutenia';
    src: url('fonts/Rutenia.woff2') format('woff2'),
         url('fonts/Rutenia.woff') format('woff'),
         url('fonts/Rutenia.ttf') format('truetype');
}


@font-face {
    font-family: 'NAMU-1930';
    src: url('fonts/NAMU-1930.eot') format('embedded-opentype'),
         url('fonts/NAMU-1930.woff') format('woff'),
         url('fonts/NAMU-1930.woff2') format('woff2'),
         url('fonts/NAMU-1930.ttf') format('truetype');
}


body {
    font-family: 'NAMU-1930', sans-serif;
}

/*зАБРАТИ ЯКЩО ЩО*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.navbar { /*верхня пластина*/
    background: #c4cfbf;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container { /*те, в чому сидить next*/
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo { /*логотип*/
    font-family: 'Rutenia', sans-serif;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    font-family: 'Rutenia', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    font-family: 'Rutenia', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 4px;
    background: #b3cca8;
    color: #fff;
}

.button:hover {
    background: #8da783;
    transition: all 0.5s ease;
}

.navbar_links:hover {
    color: #8da783;
    transition: all 0.35s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        opacity: 1;
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #ffffff;
    }

   .navbar_menu.active {
        background: #c4cfbf;
        top: 80px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }


.navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
}

.navbar_item {
    width: 100%;
}

.navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}

#mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
}

.navbar_btn {
    padding-bottom: 2rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
}

.navbar_toggle .bar {
    display: block;
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg); /* Adjust transform as needed */
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); /* Adjust transform as needed */
}
}

/* HERO SECTION CSS*/
.main {
    background-color: #f5f5f5;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: auto;
    height: 80vh;
    padding: 0;
    background-color: #f5f5f5;
    z-index: 1;
    width: 100vw;
}

.main_content h1 {
    font-family: 'Rutenia', sans-serif;
    font-size: 4rem;
    background-color: #414141;
    background-image: linear-gradient(to top, #4d4d4d 0%, #000000 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    position: relative;
    padding-bottom: 5px;
    margin-left: 0.5cm;
}

.main_content h1:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #804000 0%, #c16203 20%, #e97604 40%, #c16203 60%, #804000 100%);
    position: absolute;
    bottom: 0;
    left: 0;
}

.main_content p {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000;
    margin-left: 0.5cm;
}

    .main_btn {
        border-radius: 4px;
        background-color: #ffffff;
        border: 4px solid #b35c04;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding: 12px;
        width: 180px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 24px;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
        display: inline-block;
        position: relative;
    }
        
    .main_btn a {
        position: relative;
        z-index: 2;
        color: #000000;
        text-decoration: none;
    }
    
    .main_btn:after {
        content:'»';
        position: absolute;
        opacity: 0;  
        top: 14px;
        right: -20px;
        transition: 0.5s;
    }
    
    .main_btn:hover {
        padding-right: 24px;
        padding-left: 8px;
        background-color: #cdcdcd;
        border-color: #ff8113;
    }
    
    .main_btn:hover:after {
        opacity: 1;
        right: 10px;
    }
    

.main_img--container {
    position: relative; 
    width: 80%; 
    margin: 0 auto; 
}

#main_img, #back_img {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease; 
    cursor: pointer; 
}

#back_img {
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1; 
    transform: scale(1.1); 
}

#main_img {
    position: relative; 
    z-index: 2; 
    transform: scale(1); 
}

.main_img--container:hover #main_img {
    transform: scale(1.04); 
}

.main_img--container:hover #back_img {
    transform: scale(1.2); 
}


/*Mobile Responsive*/
@media screen and (max-width: 1024px) {
    .main_container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: auto;
}



.main_content {
    text-align: center;
    margin-bottom: 4rem;
}

.main_content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
}

.main_content h2 {
    font-size: 3rem;
}

.main_content p {
    margin-top: 1rem;
    font-size: 1.5rem;
}
}

@media screen and (max-width: 1024px) {
    .main_content h1 {
        font-size: 3rem;
        margin-top: 3rem;
    }

    .main_content h2 {
        font-size: 2rem;
    }

    .main_content p {
        margin-top: 2rem;
        font-size: 1.3rem;
    }

    .main_btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/*Quote section CSS*/
.quote_container {
    background:#C4CFBF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    margin: 30px 0;
}

.quote_text {
    text-align: center;
    margin: 60px;
}

/*Residents*/

/* Residents Container */
/* Residents Section */
.residents {
    text-align: center;
    padding: 20px 0;
}

.residents_h1 h1 {
    font-family: 'Rutenia', sans-serif;
    font-size: 36px; /* Adjust size as needed */
    text-align: center;
    margin: 20px 0;
}


/* Container for writer cards */
.writers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
    padding: 20px;
    justify-content: center;
}

/* Individual writer card */
.writer-card {
    position: relative;
    width: 250px;
    height: 350px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    opacity: 0; /* Starts transparent */
    transform: translateY(20px); /* Slightly moved down */
    transition: opacity 0.6s ease, transform 0.6s ease;
    z-index: 1;
}

/* Animation for fade-up effect */
[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}

.writer-card:hover {
    transform: translateY(0) scale(1.05);
    cursor: pointer;
}

/* Information overlay on each writer card */
.writer-info {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.writer-info h3 {
    font-family: 'Rutenia', sans-serif;
    margin: 0;
    font-size: 1.2rem;
}


.writer-info p {
    margin: 5px 0 0;
    font-size: 0.9em;
}

/* Button container styles */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

/* "Більше" button styles */
.residents_button {
    display: inline-flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    position: relative;
    padding: 10px 0;
}

/* Link inside the button */
.residents_button a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    position: relative;
}

/* Orange arrow that fades in from the right */
.residents_button::after {
    content: '>';
    font-size: 20px;
    color: orange;
    margin-left: 5px;
    opacity: 0;
    transform: translateX(10px); /* Positioned slightly to the right initially */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Hover effect to slide in the arrow */
.residents_button:hover::after {
    opacity: 1;
    transform: translateX(0);
}





/*Gallery*/


.gallery-container {
    text-align: center;
    padding: 20px;
}

.gallery-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Rutenia', sans-serif;
}

/* Grid layout with fixed alignment */
.gallery-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-items: center;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
    object-fit: cover;
}

/* Grid item positioning */
.grid-item-1 { grid-column: 1 / span 3; grid-row: 1 / span 1; }
.grid-item-2 { grid-column: 1 / span 2; grid-row: 2 / span 2; }
.grid-item-3 { grid-column: 2 / span 1; grid-row: 2 / span 1; }
.grid-item-4 { grid-column: 3 / span 1; grid-row: 2 / span 1; }
.grid-item-5 { grid-column: 1 / span 1; grid-row: 3 / span 1; }
.grid-item-6 { grid-column: 2 / span 1; grid-row: 3 / span 1; }
.grid-item-7 { grid-column: 3 / span 1; grid-row: 3 / span 1; }
.grid-item-8 { grid-column: 2 / span 1; grid-row: 4 / span 1; }

/* Responsive scaling */
@media (max-width: 1024px) {
    .gallery-grid {
        transform: scale(0.9); /* Scale down to 90% */
        transform-origin: top center; /* Keep it centered */
    }
}

@media (max-width: 1024px) {
    .gallery-grid {
        transform: scale(0.75); /* Scale down to 75% */
    }
}

@media (max-width: 1024px) {
    .gallery-grid {
        transform: scale(0.6); /* Scale down to 60% */
    }
}


.load-more-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.load-more-button:hover {
    background-color: #0056b3;
}


/*Footer*/
.footer_container {
    background: #e8c486;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer h1 {
    color: #000000;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.footer p {
    margin-bottom: 2rem;
    color: #de3232;
}

.footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer_link-wrapper {
    display: flex;
}

.footer_link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer_link-items h2 {
    margin-bottom: 16px;
}

.footer_link-items a {
    color: #000000;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer_link-items a:hover {
    color: #f77062;
    transition: 0.3s ease-out;
}

.social_media {
    max-width: 1000px;
    width: 100%;
}

.social_media_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social_icon {
    margin-right: 1rem;
}

.social_icon a {
    color: #fff;
    font-size: 24px;
}

.social_icon a:hover {
    color: #f77062;
    transition: 0.3s ease-out;
}

.website_rights {
    color: #fff;
}
